#baby-blue-text {
    color: palevioletred;
}

body {
    background-color: rgba(172, 255, 47, 0.11);
}

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display:inline;
    margin-right: 20px;
}

.copy {
    background-color: rgba(102, 156, 48, 0.463);
    color: rgb(255, 253, 126);
    text-align: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid rgb(171, 142, 161);
    padding: 50px;
    background-color: rgba(255, 210, 255, 0.26);
}
#boo-text {
    color: crimson;
    font-family: 'Butcherman';font-size: 30px;
}